<div class="container">
  <div class="card">
    <div class="card-header  text-center">
      <h1>Passing model over @Input() and @Output()</h1>
    </div>
    <div class="card-body">
      <div class="row text-center">
        <div class="col">
          <h2>Incremeter | Decrementer Counter</h2>
          <h2>{{counter}}</h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col">
          <button (click)="increment()" class=" btn btn-primary">increment</button>
          <button (click)="decrement()" class=" btn btn-info">decrement</button>
        </div>
      </div>
      <hr/>
      <app-counter-component [counter]="counter" (changedCounter)="counter= $event"></app-counter-component>
    </div>
  </div>


  <reactive-main></reactive-main>
  <hr/>
  <ngrx-main></ngrx-main>


</div>

